<h3>TASK</h3>
<div *ngIf="task">
<tr align="center">

  <md-input-container>
    <input mdInput placeholder="name of task"  [(ngModel)]="task.taskName"/>
  </md-input-container>

  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Description" [(ngModel)]="task.description"></textarea>
    </md-input-container>
  </p>

  startTime
  <br>
  {{ task.startTime | date:'medium' }}
  <br>
  <br>

  finishTime
  <br>
  {{ task.finishTime | date:'medium' }}
  <br>

  <br>

  <br *ngIf="responcebleName">

  Responceble: {{responcebleName}}
  <br><br>
  Executors

  <br>
  <li *ngFor="let exec of executorsListWithName">
    {{exec.firstName}} {{exec.hour}} hours
  </li>


  Cost: {{task.cost}}
  <br>
  <br>

</tr>
  </div>
<nav>

  <button md-raised-button routerLink="">abort</button>

</nav>
